*.log
*.DS_Store
/이금빈/LIFE
/이금빈/1. 🗂️ Project 🗂️
/이금빈/2. 📌 Area 📌
/이금빈/3. 📚 Resource 📚
/이금빈/4. 🫧 Archive 🫧
/이금빈/.obsidian/plugins/obsidian-reminder-plugin/data.json
/이금빈/.obsidian/plugins/obsidian-tasks-plugin/data.json