/* 라이트 테마 분리선 */
.theme-light.anp-theme-ext-light.ctp-luminescence-light,
.anp-theme-ext-light.ctp-luminescence-light .themed-color-wrapper > .theme-light {
    .table-view-table > thead > tr > th {
        color: rgb(101, 73, 65);
        border-width: 1px;
    }
    .table-view-table > tbody > tr:nth-last-child(2) {
        border-bottom: 1px solid rgb(101, 73, 65); /* 라이트 테마: 어두운 분리선 */
    }
}


.theme-dark.anp-theme-ext-dark.ctp-dracula,
.anp-theme-ext-dark.ctp-dracula .themed-color-wrapper > .theme-dark {
    .table-view-table > thead > tr > th {
        color: rgb(246, 246, 246);
        border-width: 1px;
    }
    .table-view-table > tbody > tr:nth-last-child(2) {
        border-bottom: 1px solid rgb(246, 246, 246); /* 다크 테마: 밝은 분리선 */
        border-color: rgb(246, 246, 246); /* 다크 테마: 밝은 분리선 */
        
    }

}

/* 기본 설정 (선택사항) */
.table-view-table > tbody > tr {
    border-bottom: none; /* 모든 행 기본적으로 분리선 제거 */
}
/* 마지막 행 설정 */
.table-view-table > tbody > tr:last-child td {
    /* 마지막 행 배경색 (라이트 테마에서만 적용됨) */
    /* background: #575757;  */
    /* padding: 5px 0; */
}

