/* 테이블 헤더 배경색 변경 */
.markdown-preview-view table th {
  font-weight: bold; /* 텍스트 굵게 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

/* 테이블 헤더에서 대체 색상 제거 */
.markdown-preview-view table tr th:nth-child(odd),
.markdown-preview-view table tr th:nth-child(even) {
  background-color: rgb(239, 231, 231) !important; /* 같은 배경색 강제 적용 */

}

